@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#words-input {
    width: 40%;
    height: 20%;
    margin: 1%;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: 3%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #2B2B2B;
    color: white;
}

th {
    background-color: #1ED760;
}

#error {
    border: 2px solid red;
    background-color: #edbebe;
    border-radius: 15px;
    color: red;
    font-size: xx-large;
    padding: 20px;
    display: None;
}